{% extends 'userindex.html' %}
{% load static %}
{% block content %}
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-7">

                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>WISH LIST</h2>
                    </div>
                    <div class="row">
                        
                            {% for i in wdata1 %}
                            <div class="col-lg-4">
                             <form action="{% url 'carticon' id=i.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="{{i.pimage.url}}" style="height: 200px; width: 200px;">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            {% if i.stock == 0 %}
                                            <h5 style="color: brown;"> OUT OF STOCK </h5>
                                            {% else %}
                                            <li><a href="{% url 'buy' i.id %}"><i class="fa fa-shopping-bag"></i></a></li>
                                            <li><a href="{% url 'cart' %}"><button type="submit" class="btn btn-outline"><i class="fa fa-shopping-cart"></i></button></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>{{i.category}}</span>
                                        <span>{{i.pname}}</span>
                                        <a href="{% url 'removewishlist' i.id %}" style="color: brown;">REMOVE WISHLIST</a>
                                        <input type="hidden" value="{{i.price}}" name="price">
                                    </div>
                                </div>
                                </form>
                            </div>
                            {% endfor %}
                        
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

{% endblock %}