{% extends 'admin_index.html' %}
{% block dashboard %}
<section class="h-100 bg-light">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4" style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp); background-position: center; background-size: cover;">
            <div class="row g-0">
              <div class="col-xl-12">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Product form</h3>
  
                 <form action="{% url 'product' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example8">Product Name</label>
                    <input type="text" id="form3Example8" class="form-control form-control-lg" name="name" style="background-color: rgba(0,0,0,0.5); color: white;"/>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label>Product Image</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name="image" style="background-color: rgba(0,0,0,0.5); color: white;"/>
                        <label class="custom-file-label" style="background-color: rgba(0,0,0,0.5); color: white;" for="image">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example99">Price</label>
                    <input type="text" id="price" class="form-control form-control-lg" name="price" style="background-color: rgba(0,0,0,0.5); color: white;"/>
                  </div>

                  <div class="form-outline mb-4">
                    <label>Product Stock</label>
                    <input type="text" class="form-control form-control-lg" id="stock" name="stock"  style="background-color: rgba(0,0,0,0.5); color: white;" >
                 </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example99">Select Catgeory</label>
                    <select class="form-control form-control-lg"  name="category" style="background-color: rgba(0,0,0,0.5); color: white;">
                      <option>Select Catgeory</option>
                      {% for i in data %}
                      <option>{{i.cname}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  
                <div class="row" >
                    <div class="form-outline col-md-6">
                        <label class="form-label" for="form3Example99">Quantity</label>
                        <input type="text" id="quantity" class="form-control form-control-lg" name="quantity" style="background-color: rgba(0,0,0,0.5); color: white;"/>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div>
                        <select class="select" style="margin-top: 43px;">

                            <option value="KG">KG</option>
                            <option value="G">G</option>

                        </select>
                    </div>
                </div>
                  <div class="d-flex justify-content-end pt-3">
                    <button type="submit" class="btn btn-outline-danger btn-lg ms-2">Submit form</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}